/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    min-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}

.button-offcanvas {
    position: fixed;
    top: 8px;
    left: 11px;
    z-index: 10000;
    color: #fff !important;
}

.button-offcanvas button {
    background-color: transparent;
    border-color: #333;
}

.button-offcanvas button:hover, .button-offcanvas button:focus {
    background-color: #333;
    color: #fff !important;
}

/*
 * Main content
 */

.main {
    margin: 0 0 50px;
    padding: 0;
}
.main-content {
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .main {

    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid .row-offcanvas {
    height: 100%;
    padding: 0;
    margin: 0;
}

.center-block-600 {
    width: 600px;
    margin: 20px auto;
}
.center-block-400 {
    width: 400px;
    margin: 20px auto;
}

.center-block {
    margin: 20px auto;
    padding: 0 30px;
}

.optimal-cost {
    display: none;
}

.type-view .t-view {
    display: inherit;
}

.type-like .t-like {
    display: inherit;
}

.type-repost .t-repost {
    display: inherit;
}

.type-follow .t-follow {
    display: inherit;
}

/***************/
.dashboard-free-likes {
    position: relative;
}

.row-block {
    display: flex;
    flex-wrap: wrap;
}

.col-block {
    margin: 0 0 20px;
    padding: 0 10px 25px 10px;
    width: 33%;
    height: 230px;
    position: relative;
    font-size: large;
}

.best-likes .col-block {
    padding: 0 10px;
}


.dashboard-free-likes.view-film .row-block {
    flex-direction: column;
    align-items: center;
}
.dashboard-free-likes.view-film .col-block {
    width: 800px;
    height: 550px;
}
@media screen and (max-width: 810px) {
    .dashboard-free-likes.view-film .col-block {
        width: 98%;
        height: 400px;
    }
}
@media screen and (max-width: 510px) {
    .dashboard-free-likes.view-film .col-block {
        height: 300px;
    }
}


.frame_block {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
}

    .frame_block iframe {
        width: 100%;
        height: 100%;
        border: none;
        position: relative;
        z-index: 1;
        background: #000;
        display: none;
    }
    .frame_block .frame_block_preview {
        width: 100%;
        max-height: 100%;
        margin: auto;
    }

.col-block .animateSuccessLike {
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -0.8em 0 0 -0.7em;
    opacity: 0.2;
    display: none;
    color: #fff;
}
.col-block .actionBtnPreview {
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -0.8em 0 0 -1.7em;
    opacity: 0.5;
    display: none;
    color: #fff;
}
.col-block .actionBtnPreviewInfo {
    font-size: 15px;
    text-align: center;
    display: block;
}

.col-block.isViewed .actionBtnPreview {
    display: block;
}
.col-block.isComplete .actionBtnPreview {
    display: none;
}
.col-block .actionBtnPreview .getFreeLike {
    color: #fff;
}
.col-block .actionBtnPreview:hover {
    opacity: 1;
}

.col-block.isLoading .frame_block iframe {
    display: block;
}
.col-block.isLoading .frame_block .frame_block_preview {
    display: none;
}

.col-block.isActive .playBtnPreview {
    display: none;
}

.col-block.isActive .frame_block .frame_block_preview {
    display: none;
}
.col-block.isActive .frame_block iframe {
    display: block;
}

.col-block .playBtnPreview {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.8;
    color: #fff;
    background: url(/img/play.png) 50% 50% no-repeat;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.col-block .playBtnPreview:hover {
    opacity: 1;
}

.col-block.isError,
.col-block.isError a {
    color: red;
}

.col-block .preview img {
    width: 350px;
}

.col-block .preview img.img-1 {
    display: block;
}

.col-block .preview img.img-2 {
    display: none;
}

.col-block .preview:hover img.img-2 {
    display: block;
}

.col-block .preview:hover img.img-1 {
    display: none;
}

.showMorePages {
    clear: both;
}

.getFreeLike {
    padding: 1px 10px;
    display: inline-block;
    cursor: pointer;
    color: #337ab7;
}

.getFreeLike.active {
    color: #337ab7;
}

.getFreeLike .glyphicon {
    padding: 0 0 0 1px;
    position: relative;
    top: 2px;
}

.ignoreLike {
    padding: 1px 4px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.successTask {
    padding: 1px 4px;
    float: left;
    display: none;
}

.getFreeLike:hover, .ignoreLike:hover {
    text-decoration: none;
}
.col-block .col-block-btns {
    position: relative;
    z-index: 2;
}
.col-block .progress {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 25px;
    display: none;
    margin: 0 0 0 10px;
    width: calc(100% - 20px);
}

/*
isNew
isActive
isViewed
isPlay
isPause
isComplete
isIgnore
isError
*/

.getFreeLike {
    pointer-events: none;
    color: gray;
    float: right;
}

.isComplete .ignoreLike {
    display: none;
}
.isComplete .successTask {
    display: inline-block;
}

.isViewed .getFreeLike {
    pointer-events: auto;
    color: #000;
}
.isViewed.isComplete .getFreeLike{
    pointer-events: none;
}

.isIgnore .ignoreLike {
    color: green;
}
.isComplete .glyphicon {
    color: green;
}

.ico_view, .ico_like, .ico_repost, .ico_follow {
    display: none;
}
.type_view .ico_view {
    display: initial;
}
.type_like .ico_like {
    display: initial;
}
.type_repost .ico_repost {
    display: initial;
}
.type_follow .ico_follow {
    display: initial;
}

/***************/

#task-table {

}

#task-table .img {
    width: 120px;
}

#task-table .img a {
    width: 112px;
    height: 85px;
    display: block;
}

#task-table .img img {
    width: 112px;
}

#task-table .name {
    width: 180px;
}

#task-table .status {

}

#task-table .control-btn {
    width: 185px;
}

#task-table .hinfo {
    visibility: hidden;
}

#task-table tr:hover .hinfo {
    visibility: visible;
}

/*********************/

.flashMess {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: center;
}

.countdown {
    position: absolute;
    left: 50%;
    margin-left: -0.9em;
    top: 50%;
    margin-top: -0.75em;
    width: 1.8em;
    height: 1.5em;
    color: #2F2D2D;
    font-size: 1.5em;
    text-align: center;
    transform: scale(0.9, 0.9);
    display: block;
}

/**********************/

.user-info {
    background-color: #FFF;
    padding: 10px;
    min-height: 111px;
}

.user-info img {
    width: 90px;
    height: 90px;
    float: left;
}

.user-info .user-info-name {
    text-align: right;
    margin: 10px 10px 25px;
}

.user-info .user-info-likes {
    text-align: right;
}


.user-info .userLikes {

}

.user-info .user-info-btn {

}

#view-list {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#buy_table td {
    padding: 0 5px;
}


/**********************/
.payment-btn {

}

.payment-btn a {
    margin: 10px;
}
/**********************/

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 1020px) {
    #view-types {
        left: 0 !important;
    }

}

#view-types {
    padding: 0 0 10px;
    text-align: center;
    position: relative;
}
#view-types sup {

}
@media screen and (max-width: 991px) {
    .col-block {
        width: 50%;
    }

    .showMorePages {
        text-align: center;
    }

    .center-block-600 {
        width: auto;
    }
    .center-block-400 {
        width: auto;
    }
}

@media screen and (max-width: 767px) {

    /**** MENU *****/
    .navbar-brand {
        padding-left: 60px;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }

    .user-info {
        background-color: #FFF;
        padding: 10px;
        min-height: 71px;
    }

    .user-info img {
        width: 50px;
        height: 50px;
    }

    .user-info .user-info-name {
        margin: -6px 10px 3px;
    }

    .center-block {
        padding: 0;
    }


    .showMorePages {
        text-align: center;
    }

    /***** FRAME **/
    .navbar-brand {
        font-size: 15px;
    }

    .navbar-nav > li > a {
        font-size: 13px;
    }

    .col-block {
        min-height: 150px;
    }

}


@media screen and (max-width: 550px) {
    #view-list {
        display: none;
    }
    .navbar-brand {
        font-size: 15px;
    }
    .navbar-nav > li > a {
        font-size: 13px;
    }

    /***** FRAME **/
    .col-block {
        width: 100%;
    }

}

.pagination {
    width: 100%;
}


/*****************************************/

.my-switch
{
    width:60px;
    height:20px;
    background: rgb(200,200,200) ;
    position:relative;
    display: inline-block;
    margin: 0 0 -5px 0;
    border-radius: 3px;
}

.my-switch input{
    position:absolute;
    width:100%;
    height:100%;
    cursor:pointer;
    opacity:0;
    z-index:3;
    left: 0;
    top: 0;
    margin: 0;
}

.my-switch .toogle{
    display:flex;
    position:absolute;
    z-index:2;
    width:50%;
    height:100%;
    background: grey;
    top:0;
    box-shadow:0px 0px 3px rgb(50,50,50) inset;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align:center;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.my-switch .toogle:before {
    font-size: 12px;
    content:"off";
    color: #fff;
    font-weight: normal;
}

.my-switch input:checked ~ .toogle{
    margin-left:30px;
}
.my-switch input:checked + .toogle:before{
    content:"ON";
    color: #8fff8c;
    font-weight: bold;
}
